body {
    background-color: #F3FDE8;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

#header {
    background-color: #A8DF8E; 
    color: black;
    text-align: center;
    padding: 10px 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-style: solid;
    border-color: #FFE5E5;
}

#interest_hobbies {
    background-color: #FFE5E5; 
    color: black;
    padding: 30px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#works {
    background-color: #FFBFBF; 
    color: black;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-color: #1A5D1A #A8DF8E #F3FDE8 #FFBFBF;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#testimonials {
    background-color: #FFE5E5; 
    color: black;
    padding: 15px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.title {
    background-color: #A8DF8E;
    color: black;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gallery img {
    width: 100px;
    height: 100px;
}

.sam {
    width: calc(33.33% - 20px); 
    margin: 10px;
    text-align: center;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center; 
    text-align: center;
    margin: 2rem;
    background-color: #FFBFBF;
    box-sizing: border-box;
    width: auto;
    padding: 10px;
    border-radius: 20px;
}

.sam img {
    width: 100px;
    height: auto;
    object-fit: 20px;
    box-shadow: 4px 5px 15px #1A5D1A;
} 

.side {
    border: 3px solid #FFBFBF;
}

@media (max-width: 426px) {
    .message-container {
        display: flex;
        flex-direction: column;
    }

    .submit-container {
        display: flex;
        justify-content: center;
    }

    .container {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 426px) {
    .upper {
        display: grid;
        grid-template-columns: 3fr 3fr;
        grid-template-rows: 1fr;
    }

    .message-container {
        display: flex;
        flex-direction: column;
    }

    .submit-container {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .my_Div {
        display: block;
        margin: auto;
    }
}

